@using FMS.Common

<!DOCTYPE html>
<html lang=en dir=ltr>
<head>
    <meta charset=utf-8>
    <base href="/">
    <title>FMS</title>
    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="keywords" content="" />
    <meta name="google-site-verification" content="" />
    @* <link rel="shortcut icon" href="assets/images/favicon.png" /> *@
</head>

<body>

    @{
        string appCache = AppSettings.AppVersion;
    }

    <app-root></app-root>

    <script type="text/javascript" src=@($"/env.js?c={appCache}")></script>
    <script type="text/javascript" src=@($"/app.js?c={appCache}")></script>
    <link rel="stylesheet" href=@($"/styles.css?c={appCache}")>
    <link rel="stylesheet" href=@($"/assets/css/responsive.css?c={appCache}")>
   
    <script type="text/javascript">
        
    </script>
</body>
</html>
